*.zip
mods
logs
.mixin.out
animation
asm
astralsorcery
crash-reports
downloads
dumps
generated
journeymap
local
patchouli_books
resourcepacks
saves
screenshots
shaderpacks
structures
tv-cache
valkyrielib
.curseclient
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
ExtraBotanyVars.dat
*.log
minecraftinstance.json
patchouli_data.json
replay_pid304.log
replay_pid10180.log
servers.dat
usercache.json
usernamecache.json
WailaErrorOutput.txt